.mainTableClass {
margin:0;padding:0;tableLayout:fixed;font-family:verdana, arial, san-serif;
}
.titleCell {
height:40px; color: #000000; background-color:#719AAA;  vertical-align: middle; text-align:center; font-size: 18px; font-weight: bold;border-top:solid 1px #000000;
}
.columnHeaderCell {
height:25px;border-top:solid 1px #000000;border-bottom:solid 1px #000000;color:#000000;background-color:#B7CBD3;  font-size: 12px;font-weight: bold; vertical-align: middle;
}
.group1Cell {
height:25px;color:#215A7B;background-color:#FBFBEA;   font-weight:bold; font-size:12px; vertical-align: middle;
}
.group2Cell {
height:25px;color:#215A7B;background-color:#E6E6C6;   font-weight:bold; font-size:12px; vertical-align: middle;
}
.group3Cell {
height:25px;color:#000000;background-color:#FFFFFF;   font-weight:bold; font-size:12px; vertical-align: middle;
}
.detailCell {
height:20px;color:#000000;background-color:#FFFFFF;  font-size: 11px; vertical-align: middle;
}
.detail2Cell {
height:20px;color:#000000;background-color:#EFEFEF;   font-size: 11px; vertical-align: middle;
}
.summaryCell {
height:25px;color:#000000;background-color:#B7CBD3;  font-size: 12px;font-weight: bold;border-bottom:solid 1px #000000; border-top:solid 1px #000000; vertical-align: middle;
}

/* XTs */

.XTDefaults {
	border-color: #000000; 
	color: #000000;
}	
.XTTitleStyle {
	text-align: center;border: #719AAA;background-color: #FFFFF;font-size: 12px;color: #000000;font-weight: bold;}
.XTColumn1 {
	background-color: #719AAA;color: #000000;font-weight: bold;}
.XTColumn2 {
	background-color: #FBFBEA;color: #215A7B;font-weight: bold;}
.XTColumn3 {
	background-color: #EFEFEF;font-weight: bold;}
.XTRow1 {
	background-color: #E6E6C6;color:#215A7B;font-weight: bold;}	
.XTRow2 {
	background-color: #B7CBD3;font-weight: bold;}
.XTRow3 {
	background-color: #EFEFEF;font-weight: bold;}
.XTGrandTotal { 
	background-color: #E6E6C6;color:#000000;font-weight: bold;}	
.XTColumnWidth {
	width:100px; }
.XTRowWidth {
	width:100px; }
.XTMeasureCell {
	width:100px;height: 30px;background-color: #FFFFFF;color: #000000;font-size: 10.0px;}
	
/* Charts */

.chartReportTitleStyle {
	height:40px; color: #000000; background-color:#719AAA;  font-size: 18px; font-weight: bold; vertical-align: middle; text-align:center;border-bottom:solid 1px #000000; border-top:solid 1px #000000;
}
.chartTitleStyle {
	color: #000000;  font-size: 12px; font-weight: bold; vertical-align: middle; text-align:center;
}


