.dashboardRunTimeButtonBox {
    background-color: #CDAE9F; border-style: solid; border-color: #993200; border-left-width:1px; border-top-width:1px;border-right-width:2px; border-bottom-width:2px; -moz-opacity:.8;filter:alpha(opacity=80)
}

.dashboardTitleStyle {
    text-align: center;border: #000000;font-size: 13px;color: #000000;font-weight: bold;
}

.dashboardFrame {
	-moz-user-select: none;-khtml-user-select:none;
}

.dashboardFrameContainer {
	background-color:#FAFCFC;border-width:1px;border-color:#E0E0E0;border-style:solid;-moz-user-select: none;-khtml-user-select:none;
}

.dashboardFrameBody {
	margin:0px;padding:0px;	
}

.dashboardFrameBufferLayer {
	background-color:#FFFFFF;border-style:none;-moz-user-select: none;-khtml-user-select:none;-moz-opacity:0;opacity:0;filter:alpha(opacity=0)
}