/*
 *************************************************************************
 * THE STYLESHEET FOR AD HOC DESIGNER PAGES
 *************************************************************************
*/

.backingTable {
    border: none;	
}

table.singleSelect {
    border-width: 2px;
    border-color: #005594;
    border-style: solid;
}

table.multiSelect {
    border-width: 2px;
    border-color: #687F99;
    border-style: solid;
}

table.oversize {
    border-width: 2px;
    border-color: #B3090F;
    border-style: solid;
}

table.overlay {
    border-style: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

table.overlayWidthResizer {
    border-style: none;
    cursor: e-resize;
    -moz-user-select: none;
    -khtml-user-select: none;
}

table.overlayHeightResizer {
    border-style: none;
    cursor: s-resize;
    -moz-user-select: none;
    -khtml-user-select: none;
}

table.overlayDiagonalResizer {
    border-style: none;
    cursor: nw-resize;
    -moz-user-select: none;
    -khtml-user-select: none;
}

table.dragFieldSelect {
    border-style: none;
    cursor: default
}

table.dragSelect {
    background-image: none;
    border-width: 2px;
    border-color: #005594;
    border-style: solid;
    -moz-opacity: .7;
    opacity: .7;    
    filter: alpha( opacity = 60 );
    cursor:default
}

table.dragChangedSelect {
    background-image: none;
    border-width: 2px;
    border-color: #B37150;
    border-style: solid;
    -moz-opacity: .7;
    opacity: .7;    
    filter: alpha( opacity = 60 );
    cursor:default
}

table.dragRemoveColumnSelect, table.dragRemoveGroupSelect {
    background-image: url('adhoc/images/recycle.gif');
    background-repeat: no-repeat;
    background-position: top center;
    border-width: 2px;
    border-color: #808080;
    border-style: solid;
    -moz-opacity: .7;
    opacity: .7;    
    filter: alpha( opacity = 60 );
    cursor:default
}

table.dragRemoveColumnSelect {
    background-position: 100% 25px;
}

table.dragRemoveGroupSelect {
    background-position: 100% -4px;
}

table.ChartDragTarget {
    background-image: none;
    border-width: 2px;
    border-color: #B37150;
    border-style: solid;
    cursor: default
}

/*
 * TD stuff mainly for regular Ad Hoc
 */

td {
	FONT-SIZE: 70%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

td.hideMe {
    display: none
}

td.spineInner {
    background-color: #005594;
    width: 1px;
    cursor: col-resize
}

td.spineOuter {
    background-color: #C0C0C0;
    width: 1px;
    cursor: col-resize
}

td.overlay {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

td.dragSelect {
    background-color: #005594;
    color: #FFFFFF;
    -moz-opacity: .7;
    opacity: .7;    
    filter: alpha( opacity = 60 );
    cursor:default
}

td.dragChangedSelect {
    background-color: #993200;
    color: #FFFFFF;
    -moz-opacity: .7;
    opacity: .7;    
    filter: alpha( opacity = 60 );
    cursor:default
}

td.dashboardDragSelect {
    color: #FFFFFF;
    vertical-align: middle;
    cursor: default
}

td.dashboardDragChangedSelect {
    color: #FFFFFF;
    vertical-align: bottom;
    cursor: default
}

td.dragRemoveSelect {
    background-color: #808080;
    color: #FFFFFF;
    -moz-opacity: .7;
    opacity: .7;    
    filter: alpha( opacity = 60 );
    cursor:default
}

td.shiftTarget {
    background-color: #005594;
    width: 100%;
    height: 100%
}

td.veryTranslucent {
    -moz-opacity: .5;
    opacity: .5;    
    filter: alpha( opacity = 40 )
}

td.titleplaceholder {  
    font-weight: bold;
    font-style:  italic;
    color:#dfc186;
    font-size:70%;
    letter-spacing:1px;
    text-align:center;
    vertical-align:middle;
    border: none;
}

td.dashboardTitleStyle {
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}


td.paleBlue {  
    background-color:#E6EAED;
    color: #000033;
}
td.transparent {  
    background-color:transparent;
}

td.highlyTranslucent{
    -moz-opacity:.3;
    opacity: .5;    
    filter:alpha(opacity=30)
}

td.targetBrown {  
    background-color:#C3957F;
    color: #4D3237;
}
td.leftRightBorder {  
    border-left: solid 1px #999999;
    border-right: solid 1px #999999; 
}
td.topRightBorder {  
    border-top: solid 1px #999999;
    border-right: solid 1px #999999; 
}
td.rightBorder {
    border-right: solid 1px #999999; 
}
td.border {
    border: solid 1px #999999; 
}

td.noBorder {
    border:none; 
}

div.legendMouseover {
    background-color: #687F99;
    -moz-opacity: 0.2;
    opacity: .5;    
    filter: alpha( opacity = 20 );
}

/*
 * Menus
 */

.menurowhighlighted {
    background-color: #ffffff;
    font-style: normal;
    font-weight: bold;
    color: #000033;
    padding-top: 1px;
    padding-bottom: 2px;
    /* border-top: solid 1px #7c90a6; */
    border-bottom: solid 1px #b2b9bf;
}

.menuframe {
    border-top: 1px solid #687F99;
    border-left: 1px solid #687F99;
    border-right: 2px solid #687F99;
    border-bottom: 2px solid #687F99;
}

.menutable {
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    background-color: #E6EAED;
}

.menutitle {
    line-height: 125%;
    font-style: italic;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.menutitlehighlighted {
    line-height: 125%;
    font-style: normal;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.menurowinset {
    background-color: #c5d1d9;
}

.menurowinsetheader {
    background-color: #d4d8d9;
}

.menuitem {
    line-height: 150%;
    text-align: left;
    white-space: nowrap;
}

.menuiteminset {
    line-height: 150%;
    text-align: left;
    white-space: nowrap;
    padding-left: 10px;
}

.menudisablediteminset {
    color: #A0A0A0;
}

.submenuiteminset {
    line-height: 150%;
}

.innermostmenu {
    background-color: #CDD0D1;
}

.menupadding {
    padding-top: 1px;
    padding-bottom: 1px;
}

.lightbar {
    border-top: #FFFFFF 1px solid;
}

.darkbar {
    border-bottom: #687F99 1px solid;
}

/*
 * Themes
 */
.theme {
    border: solid 2px #FFFFFF;
    padding: 1px;
    cursor: pointer;
}

.themeselected {
    border: solid 2px #993200;
    padding: 1px;
}

/*
 * Miscellaneous
 */

.labelplaceholder {
	border:none;
	font-weight: bold;             
	font-style:  italic;             
	color:#000033;             
	font-size:110%;  
	letter-spacing:1;
	padding-right:2px;
	background-color:#C5D1D9;  
}
.spaceholder {  
	background-color:#E6EAED; 
	border: solid 1px #687F99;
}
.target {  font-weight: bold;
           font-style:  italic;
           color:#000033;
           font-size:70%;
           background-color:#C5D1D9; 
           text-align:center;
}

