.mainTableClass {
margin:0;padding:0;tableLayout:fixed;font-family:verdana, arial, san-serif;
}
.titleCell {
height:40px; color: #FFFFFF; background-color: #336666;  font-size: 18px;font-weight: bold; vertical-align: middle; text-align:center;
}
.columnHeaderCell {
height:25px; color:#000000; background-color:#A3C29C; border-bottom:solid 1px #000000; border-top:solid 1px #000000;  font-size: 12px;font-weight: bold; vertical-align: middle;
}
.group1Cell {
height:25px;color:#003399;background-color:#A5D29C; font-weight:bold; font-size:12px; vertical-align: middle;
}
.group2Cell {
height:25px;color:#003399;background-color:#D7EBC5;   font-weight:bold; font-size:12px; vertical-align: middle;
}
.group3Cell {
height:25px;color:#003399;background-color:#FFFFFF;   font-weight:bold; font-size:12px; vertical-align: middle;
}
.detailCell {
height:20px;color:#003399;background-color:#FFFFFF;  font-size: 11px; vertical-align: middle;
}
.detail2Cell {
height:20px;color:#003399;background-color:#FAFAE1;   font-size: 11px; vertical-align: middle;
}
.summaryCell {
height:25px; color:#000000;background-color:#A3C29C; border-bottom:solid 1px #000000; border-top:solid 1px #000000;  font-size: 12px;font-weight: bold; vertical-align: middle;
}

/* XTs */

.XTDefaults {
	border-color: #000000;color: #003399;}	
.XTTitleStyle {
	text-align: center;border: #000000;font-size: 13px;color: #000000;font-weight: bold;}
.XTColumn1 {
	background-color: #336666;color: #FFFFFF;font-weight: bold;}
.XTColumn2 {
	background-color: #A3C29C;color: #000000;font-weight: bold;}
.XTColumn3 {
	background-color: #FAFAE1;font-weight: bold;}
.XTRow1 {
	background-color: #A5D29C;font-weight: bold;}	
.XTRow2 {
	background-color: #D7EBC5;font-weight: bold;}	
.XTRow3 {
	background-color: #FAFAE1;font-weight: bold;}
.XTGrandTotal { 
	background-color: #A5D29C;font-weight: bold;}	
.XTColumnWidth {
	width:100px; }
.XTRowWidth {
	width:100px; }	
.XTMeasureCell {
	width:100px;height: 30px;background-color: #FFFFFF;color: #003399;font-size: 10.0px;}
	
/* Charts */

.ChartReportTitleStyle {
	height:40px; color: #FFFFFF; background-color:#336666;  font-size: 18px; font-weight: bold; vertical-align: middle; text-align:center;
}
.ChartTitleStyle {
	color: #000000;  font-size: 12px; font-weight: bold; vertical-align: middle; text-align:center;
}


	
	
