.mainTableClass {
margin:0;padding:0;tableLayout:fixed;font-family:verdana, arial, san-serif;
}
.titleCell {
height:40px; color: #FFFFFF; background-color:#000066;   font-size: 18px; font-weight: bold; vertical-align: middle; text-align:center;
}
.columnHeaderCell {
height:25px; color:#333366;background-color:#BEC2C6;  font-size: 12px;font-weight: bold;vertical-align: middle;
}
.group1Cell {
height:25px; color:#333366;background-color:#BFD5EB; font-weight:bold; font-size:12px;vertical-align: middle;
}
.group2Cell {
height:25px; color:#333366;background-color:#E6E8ED;   font-weight:bold; font-size:12x;vertical-align: middle;
}
.group3Cell {
height:25px; color:#333366;background-color:#FFFFFF;   font-weight:bold; font-size:12px;vertical-align: middle;
}
.detailCell {
height:20px; color:#333366;background-color:#FFFFFF;  font-size: 11px;vertical-align: middle;
}
.detail2Cell {
height:20px; color:#333366;background-color:#F5F8FA;   font-size: 11px;vertical-align: middle;
}
.summaryCell {
height:25px; color:#333366;background-color:#BEC2C6;  font-size: 12px;font-weight: bold;vertical-align: middle;
}

/* XTs */

.XTDefaults {border-color: #808080; color: #333366;}	

.XTTitleStyle {
	text-align: center;border: #808080;font-size: 13px;color: #333366;font-weight: bold;}
.XTColumn1 {
	background-color: #000066; color: #FFFFFF;font-weight: bold;}
.XTColumn2 {
	background-color: #E6E8ED; font-weight: bold;}
.XTColumn3 {
	background-color: #F5F8FA; font-weight: bold;}	
.XTRow1 {
	background-color: #BEC2C6; font-weight: bold;}	
.XTRow2 {
	background-color: #BFD5EB; font-weight: bold;}	
.XTRow3 {
	background-color: #F5F8FA; font-weight: bold;}
.XTGrandTotal { 
	background-color: #BEC2C6; font-weight: bold;}	
.XTColumnWidth {
	width:100px; }
.XTRowWidth {
	width:100px; }		
.XTMeasureCell {
	width:100px;height:30px;background-color: #FFFFFF;color:#333366;font-size:10.0px;
}

/* Charts */

.ChartReportTitleStyle {
	height:40px; color: #FFFFFF; background-color:#000066;  font-size: 18px; font-weight: bold; vertical-align: middle; text-align:center;
}
.ChartTitleStyle {
	color: #333366;  font-size: 12px; font-weight: bold; vertical-align: middle; text-align:center;
}



