.comparison {
    padding-top:0px;
}
.positioning {
    padding-top:1px;
    /*padding-bottom:1px;*/
    height: 15px;
}
.listTablePositioning {
    padding-top:1px;
    /*padding-bottom:1px;*/
    height: 18px;
}
