.comparison {
    padding-top:1px !important;
}
.positioning {
    /*padding-bottom:1px;*/
    height:18px;
}

.listTablePositioning {
    /*padding-top:1px;*/
    /*padding-bottom:1px;*/
    height: 18px;
}
